html {
    height: max-content;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

a {
    padding: 10px 30px;
    background-color: sandybrown;
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 20px 0;
}

.input {
    display: flex;
    margin-bottom: 30px;
}

input {
    width: calc(70vw - 100px);
    outline: none;
    height: 35px;
    border: 0;
    font-size: 20px;
    text-indent: 10px;
}

button {
    width: 100px;
    border: none;
    background-color: sandybrown;
    color: white;
    font-size: 18px;
}

table {
    background-color: white;
    width: 70vw;
    border-collapse: collapse;
}

th {
    padding: 10px;
}

tr, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

@media only screen and (max-width: 600px) {
    table {
        width: 95vw;
    }

    input {
        width: calc(95vw - 100px);
    }
}