<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChisChort</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" href="/static/css/image/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js"></script>
</head>
<body>
    <div class="preloader">
        <span class="loader">
            <span class="loader-inner"></span>
        </span>
    </div>
    <div class="top">
        <img src="static/css/image/logo-white.png" alt="logo">
        <p class="coming">COMING <span>SOON</span></p>
        <div class="middle"></div>
        <div class="topdetail">
            <p class="detail">
                <span>PARKING SPOT</span> IN CAMBODIA IS <br>
                <span>MESSY</span>, <span>NOT SAFE ENOUGH</span> AND <span>JAMMING THE CITY</span> PHNOM PENH? <br>
                CHIS CHORT HAS A MISSION TO DELIVER THE <span>SECURITY</span> AND <span>SERVICE</span> TOP NOTCH, <br>
                EQIUPPED WITH <span>ARTIFICIAL INTELLIGENCE</span> AND HIGH END <span>TECHNOLOGY</span> <br>
                TO SECURE YOUR <span>PARKING</span>. <br>
            </p>
        </div>
        <div class="contact">
            <p>CONTACT</p>
            <div class="contact-link">
                <a href="https://www.facebook.com/chischort/"><i class="fab fa-facebook-square"></i></a>
                <a href="mailto:chischort@gmail.com"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="mid">
        <p class="wh-question">WHO ARE WE?</p>
        <p class="who-detail">We are street parking startups, backed by United Nation Development Program.
            <br><br>
            We have one big mission is to resolve the traffic jam and ease the way we park, yet more security<br>
            using technologies, which is Artificial Intelligence (AI) and Mobile Application (App).
        </p>
        <div class="button">
            <p class="button">read our story</p>
        </div>

        <p class="story">
            One of our teammates always ask whether there is parking lot or no before whenever<br>
            we hangout, and if there is parking lot, she still has the anxiety of losing her car.<br>
            So, therefore, we form up the group of 5, modifying the process like<br>
            having the car inspectation on the app, drive and scan qr code to park and using AI to<br>
            align the parking to make it more clean.<br>
            Right now we are developing this idea into reality.
        </p>

        <div class="line"></div>

        <p class="wh-question">HOW CHIS CHORT WORKS?</p>

        <div class="how-to">
            <div class="wrap-top">
                <div class="inner-top">
                    <div class="step">
                        <i class="fas fa-parking"></i>
                        <p>The car parked</p>
                    </div>
                    <div class="step">
                        <i class="fas fa-video"></i>
                        <p>AI camera detects wether the car parked correctly (80% on the lane) on the lane</p>
                    </div>
                </div>
                <div class="inner-wrap">
                    <div class="step">
                        <i class="fas fa-qrcode"></i>
                        <p>If parked correctly, QRCode is scannable to get the tickets</p>
                    </div>
                </div>
            </div>
            <div class="wrap-bottom">
                <div class="step">
                    <i class="fas fa-lock"></i>
                    <p>After scanning, the ticket issues and the car is locked (if moved will be alarmed)</p>
                </div>
                <div class="step">
                    <i class="fas fa-lock-open"></i>
                    <p>When you are ready to go, just tap unlock vehicle on the phone</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <form method="post">
            <label>Email</label>
            <div class="form">
                <input type="text" name="email" autocomplete="off">
                <button type="submit" disabled>Send</button>
            </div>
        </form>
        <p>PARKING WITH EASE, HIGH SECURITY AND LOWER PRICE IS A <span>GOD GIFT PRESENTED</span></p>
        <p>Why <span>CHIS</span> with Inconvinient <span>CHORT</span>?</p>
    </footer>
    <script src="/static/js/index.js"></script>
</body>
</html>